*
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #6a1eac;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 40px;
    background-color: #D0AFFF;
}

.intro, .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.intro .text-content, .about .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.intro .text-content h1, .about .text-content h2 {
    margin: 0;
    color: #4A007D;
}

.intro .text-content p, .about .text-content p {
    margin-top: 10px;
    text-align: justify;
}

.intro .image-content, .about .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .image-content img, .about .image-content img {
    max-width: 100%;
    border-radius: 6px;
}

.about {
    background-color: #7B2CBF;
    color: white;
}

footer {
    background-color: #a457e8;
    color: #4A007D;
    text-align: center;
    padding: 10px 0;
}

/* Media Queries */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        justify-content: center;
    }

    .intro, .about {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .intro .text-content, .about .text-content {
        padding: 10px;
    }

    .intro .image-content, .about .image-content {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px;
    }

    .intro, .about {
        padding: 10px;
    }

    .intro .text-content, .about .text-content {
        padding: 10px;
    }

    .intro .image-content, .about .image-content {
        padding: 10px;
    }
}

@media (max-width: 460px) {
    body, .container, header, main, .intro, .about, footer {
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .intro, .about {
        padding: 10px;
        border-radius: 0;
    }

    .intro .text-content, .about .text-content, .intro .image-content, .about .image-content {
        padding: 0;
    }

    header nav {
        flex-direction: column;
        align-items: center;
    }

    .intro, .about {
        flex-direction: column;
    }
}